@import '../../core/main.scss';

.navigation {
  height: '40px';
  display: flex;
  justify-content: space-between;
  padding-right: 50px;
  background: $blue url('/static/images/mast-amplogo.png') no-repeat bottom right;

  &__brand {
    display: block;
    background-image: url('/static/images/amplience-logo-hidef.png');
    background-size: 143px 35px;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 240px;
  }

  &__select {
    color: #fff;
  }
}