@import '../../core/main.scss';

.team-list {
  &__container {
    max-width: $content-width;
    margin: 0 auto;
    padding: $padding_m $padding_s;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: $padding_m $padding_s;
    border-bottom: 1px $grey solid;
    margin: $padding_m 0;
  }

  &__image {
    max-width: 45%;
  }
}