@import '../../core/main.scss';

.author-card {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding-s;
  width: 70%;


  &__essential {
    display: flex;
    flex-direction: row;
  }

  &__name {
    line-height: 40px;
    margin-left: $padding-s / 2;
  }
}